<?xml version='1.0' encoding='utf-8' ?>  
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core" 
	  xmlns:p="http://primefaces.org/ui">
	  
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate, post-check=0, pre-check=0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta name="keywords" CONTENT="Laudo,Pesquisa veicular,Laudo preventivo,Veículos,Consulta de placa,Consulta de procedência,Informações sobre Veículos,Informações cadastrais de Veículos,Dados de Veículos"/>	
    
    <!-- facebook -->   	
   	<meta name="og:type" content="website" />
	<meta name="og:locale" content="pt_BR" />
	<meta name="og:url" content="http://www.pesquisaveiculo.com.br"/>
	<meta name="og:title" content="Consulta e inspeção veicular"/>
	<meta name="og:description" content="Laudo,Pesquisa veicular,Laudo preventivo,Veículos,Consulta de placa,Consulta de procedência,Informações sobre Veículos,Informações cadastrais de Veículos,Dados de Veículos" />
	<meta name="og:image:width" content="704" />
	<meta name="og:image:height" content="200" />
	<meta name="og:image" content="https://s3.amazonaws.com/pesquisaveiculo/facebookAdvertisement.png" />
	
	<title>
		<ui:insert name="titulo">Grow Up Veículos :: Solicitar Pedido</ui:insert>
	</title>
	
    <link rel="shortcut icon" href="/assets/logo_site.png" type="image/x-icon"/>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    
    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet"/>    
    <link href="css/slabtext.css" rel="stylesheet" type="text/css" />
    
    <!-- Estilos Gerais -->
    <link href="css/estilos.css" rel="stylesheet"/>
    
      <!-- Scripts -->
<!--     <script src="${facesContext.externalContext.requestContextPath}/js/scripts.js"></script> -->
<!-- 	<script src="js/jquery.min.js"></script>   -->
<!-- 	<script src="js/jquery-ui-1.10.3.custom.min.js"></script>   -->

<!-- 	<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>   -->
<!-- 	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>   -->
	
	
	<!-- Inclusao do jquery do jsf, usado tb em jsp e html  
	<script src="javax.faces.resource/jquery/jquery.js.jsf?ln=primefaces&amp;v=4.0"></script>  
	-->
	<script src="js/lib/jquery-2.1.1.js"></script> 
	<script src="js/lib/jquery.validate.custom.js"></script>
	<script src="javax.faces.resource/jquery/jquery-plugins.js.jsf?ln=primefaces&amp;v=4.0"></script>  

	<!-- Bootstrap must be after jquery -->
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="js/lib/bootstrap-hover-dropdown.js"></script>
	 
    <script src="js/scripts.js"></script>
    <script src="js/authentication.js"></script>

</h:head>

<h:body>


	<!-- NAVBAR Menu do Topo ================================================== --> 	
	 <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
          	<a class="navbar-brand" href="index.html" style="padding:5px 15px 5px 0; border:0; border-bottom:0; border-left:0; background:transparent;">
          		<img src="assets/logo_site.png" border="0" 
          		title="Voltar a página inicial.&#013;Versão: ${project.version}"/>
          	</a>
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>              
            </div>
           
            <div class="navbar-collapse collapse" role="navigation">
              <ul class="nav nav-pills navbar-nav">
<!--                 <li id="conectarMnu"><a href="conectar.jsf">Conectar</a></li> -->
                
                <li id="novoMnu" class="dropdown">		
                    <a href="novo.jsp" class="dropdown-toggle disabled" data-hover="dropdown">
				     <span class="badge">1</span>&#160;&#160; Cadastre-se 
				     <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
	                	<a href="novo.jsp">
	                		<span class="badge">1</span>&#160;&#160;Novo Usuário
	                	</a>
	                	<a href="trocarSenha.jsf">
	                		<span class="badge">4</span>&#160;&#160;TrocarSenha
	                	</a>
				    </ul>
                </li>
                
                <li id="pedidoMnu" class="dropdown">		
                	<a href="pedido.jsf" class="dropdown-toggle disabled" data-hover="dropdown">
                		<span class="badge">2</span>&#160;&#160;Pedido
                		<span class="caret"></span>
                	</a>
                	 <ul class="dropdown-menu">
	                	<a href="pedido.jsf">
	                		<span class="badge">2</span>&#160;&#160;Pedido
	                	</a>
	                	<a href="meusPedidos.jsf">
	                		<span class="badge">3</span>&#160;&#160;Meus Pedidos
	                	</a>
				    </ul>
                </li>

                <li id="duvidaMnu" class="dropdown">		
                	<a href="faq.jsp" class="dropdown-toggle disabled" data-hover="dropdown">
                		Dúvida
                		<span class="caret"></span>
                	</a>
                	 <ul class="dropdown-menu">
	                	<a href="faq.jsp">Faq</a>
	                	<a href="processo.html">Como funciona?</a>
	                	<a href="modelo.jsf">Consulta Modelo</a>
				    </ul>
                </li>
                
                <li id="tarifasMnu">
                	<a href="tarifas">Tarifas</a>
                </li>
                
                <li id="faleConoscoMnu">
                	<a href="faleconosco.jsp">Contato</a>
                </li>                                
              </ul>
              
               <ul class="nav-stacked navbar-right" style="list-style: none" data-no-collapse="true">
          		<li>
          		 	<!-- Facebook -->
	       			<div class="fb-share-button"
	       				data-href="https://www.facebook.com/pesquisaveiculo"  
	       				data-width="140" 
	       				data-layout="button_count" 
	       				data-type="button_count" 
	       				data-show-faces="true" 
	       				data-share="true"></div>
	       				
						<div id="fb-root"></div>
						 
					<script type="text/javascript">
						//<![CDATA[

						window.fbAsyncInit = function() {
							FB.init({
								appId : '1001767749834076',
								status : false, // check login status
						        cookie : true, // enable cookies to allow the server to access the session
						        xfbml  : true,  // parse XFBML
						        version : 'v2.3' // v2.0
							});

						};

						(function(d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (d.getElementById(id))
								return;
							js = d.createElement(s);
							js.id = id;
							js.src = "//connect.facebook.net/pt_BR/sdk.js";
							fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));

						//]]>
					</script>
					
					
				</li>
          		<li>
          		 	<!-- Google plus-->
					<!-- Posicione esta tag onde você deseja que o botão compartilhar apareça. -->
					<div class="g-plus" data-action="share" data-annotation="bubble"></div>
					  
					<!-- Posicione esta tag depois da última tag do compartilhar. -->
					<script type="text/javascript">
					//<![CDATA[
					  window.___gcfg = {lang: 'pt-BR'};
					  
					  (function() {
					    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					    po.src = 'https://apis.google.com/js/platform.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					  
					//]]>
					</script>
          		</li>
			  </ul>
            </div>
          </div>
        </div>

      </div>
    </div> 

   <!-- /.navbar -->
   
   	<div class="espacamento_topo">
		</div>
	
   <script type="text/javascript">
 	//<![CDATA[
		var mnuId = document.getElementById("mnuId");
		if (mnuId != null && mnuId.hasOwnProperty('value')) {
			mnuId = mnuId.value;// busca o valor do menu
		
			var mnu = document.getElementById( mnuId );
			applyStyle(mnuId, 'active');
		}
		
// 		if (mnu != null && mnu.hasOwnProperty('className')) 
// 			mnu.className = 'active';
	//]]>
   </script>

	<style>
		.fb-share-button span,
		.fb-share-button iframe {
			width: 120px ! important;
			height: 25px ! important;
		}
</style>

</h:body> 
 
</html>