<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core" 
	  xmlns:p="http://primefaces.org/ui">

<h:head>
	<title><ui:insert name="titulo">Grow Up Veículos :: Solicitar Pedido</ui:insert></title>
	
    <link rel="shortcut icon" href="assets/logo_site.png" type="image/x-icon"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Loading Flat UI
    <link href="css/flat-ui.css" rel="stylesheet"/>    
    <link href="css/slabtext.css" rel="stylesheet" type="text/css" />
      -->
     
    <!-- Bootstrap core CSS 
    <link href="css/bootstrap.css" rel="stylesheet" />
    -->
    
    <!-- Estilos Gerais 
    <link href="css/estilos.css" rel="stylesheet"/>
-->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate, post-check=0, pre-check=0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />	
    
      <!-- Scripts -->
<!--     <script src="${facesContext.externalContext.requestContextPath}/js/scripts.js"></script> -->

<!-- 	<f:loadBundle basename="conector.apresentacao.visao.recursos.Labels" -->
<!-- 		var="labels" /> -->

</h:head>

<h:body style="height:500px">

	<header>
		<ui:include src="novo_menu.xhtml" >
			<ui:param name="activeMenu" value="${activeMenu}"/>
		</ui:include>
	</header>
	
	<div class="container" id="principal">
				
<!-- 		<div class="row-fluid" ><h3>Grow Up - Veículos</h3></div> -->
		
<!-- 		<div class="espacamento_topo"> -->
<!-- 		</div> -->
		
		<p:messages id="messages" showDetail="false" autoUpdate="true" closable="true" />  
				
		<div class="container">
					
			<div id="conteudo" class="container">
				<h:form id="formulario" class="${formCLass}" method="post" role="form" >

					<ui:insert name="beanParam"/>
					
					<p:ajaxStatus style="width:16px;height:16px;" id="processando">  
					    <f:facet name="start">  
					        <h:graphicImage value="assets/loading.gif" />  
					    </f:facet>  
					      
					    <f:facet name="complete">  
					        <h:outputText value="" />  
					    </f:facet>  
					</p:ajaxStatus>
				
					<ui:insert name="conteudo"/>
							
				</h:form>
					
			</div>

		</div>

	</div>
</h:body>

</html>

