<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	
	<p:panel id="panelFiltro"> 
		
		<h:panelGrid  columns="12" border="0" cellpadding="3" cellspacing="5" columnClasses="columnFilter">
		
			<div class="row-fluid" id="selecao">
	
				<div class="span3">
					<!-- Combo Periodos -->
					<h:outputLabel value="#{labels.periodo}" for="periodoId"   />
					<h:selectOneMenu
						value="#{bean.periodoSelecionado}" 
						id="periodoId"
						label="#{labels.periodo}"
						disabled="false"
						required="true">
						
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItems value="#{bean.itensPeriodo}" 
										var="item" 
										itemValue="#{item.nome}" 
										itemLabel="#{item.nome}"/>
				 
				 		<p:ajax update="panelFiltro"  
				 				 event="change"
	                      		 listener="#{bean.selecionarPeriodo}" /> 
						
							
					</h:selectOneMenu>
				</div>
	
				<div class="span3">
					<!-- Combo Uie -->
					<h:outputLabel value="#{labels.uie}" for="uieId"   />
						<h:selectOneMenu
							value="#{bean.uieSelecionada.id}" 
							id="uieId"
							label="#{labels.uie}"
							disabled="#{bean.uieDisabled}"
							required="true">
							
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems value="#{bean.itensUie}" 
											var="item" 
											itemValue="#{item.id}" 
											itemLabel="#{item.nome}"/>
					 
					  		<p:ajax update="panelFiltro"  
				 				 event="change"
	                      		 listener="#{bean.selecionarUie}" />
	                      		  
						</h:selectOneMenu>
				</div>
	
				<div class="span3">
					<!-- Combo Sonda -->
					<h:outputLabel value="#{labels.sonda}" for="sondaId"  />
						<h:selectOneMenu
							value="#{bean.sondaSelecionada.id}" 
							id="sondaId"
							label="#{labels.sonda}"
							disabled="#{bean.sondaDisabled}"
							required="true">
							
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems value="#{bean.itensSonda}" 
											var="item" 
											itemValue="#{item.id}" 
											itemLabel="#{item.nome}"/>
					 		
					 		<p:ajax update="panelFiltro"  
				 				 event="change"
	                      		 listener="#{bean.selecionarSonda}" />
	                      		 
						</h:selectOneMenu>
				</div>
	
	
				<div class="span3">
					<!-- Combo Topico -->
					<h:outputLabel value="#{labels.topico}" for="topicoId" />
						<h:selectOneMenu
							value="#{bean.topicoSelecionado.id}" 
							id="topicoId"
							label="#{labels.topico}"
							disabled="#{bean.topicoDisabled}"
							required="true"
							>
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems value="#{bean.itensTopico}" 
											var="item" 
											itemValue="#{item.id}" 
											itemLabel="#{item.nome}"/>
					 		
					 		<p:ajax update="@form" 
				 				 	event="change"
	                      		 	listener="#{bean.selecionarTopico}"
	                      		 	/>
	                      		 
						</h:selectOneMenu>
				</div>
			</div>
	
			
		</h:panelGrid>
		
		<div>
			<ui:insert name="messages">
				<ui:include src="messages.html" />
			</ui:insert>
		</div>
		
	</p:panel>
	
</html>