<div class="container">
    <div ><img width="50" src="./recursos/img/verano_logo.png"/></div>
    <br/>
	<div>
		<a href="texto.jsf" id="link">Conector texto</a>
	</div>
	<div>
		<a href="#" id="link">Conector planilha</a>
	</div>
	<div>
		<a href="imagens.jsf" id="link">Conector imagens</a>
	</div>
	<br />
</div>


