<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core" 
	  xmlns:p="http://primefaces.org/ui">
	  
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</h:head>

<body>
	<input type="hidden" value="#{activeMenu}" id="mnuId"/>
<!-- 	<input type="hidden" value="false" id="conectedId"/> -->
	<ui:include src="_novo_menu.html" />

</body> 
 
</html>