<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core" 
	  xmlns:p="http://primefaces.org/ui">
    
<ui:composition>

	<p:panel id="#{id}" >	
		<div class="row form-group col-xs-offset-4">
			<h:outputLabel class="col-xs-4 control-label"
	   			   rendered="#{bean.usuarioConectado == null}"
	   			   value="#{labels.email} *"
	   			   />
			   
	    	<div class="col-xs-4">
		      	<p:inputText id="inputUsuario"
		      			value="#{bean.email}" 
		      			placeholder="#{labels.email}" 
		      			label="#{labels.email}" 
		      			name="usr"
		      			required="true" autofocus="true" 
		      			maxlength="40"  class="form-control" 
		      			rendered="#{bean.usuarioConectado == null}"
		      			requiredMessage="O email é obrigatório."
						validatorMessage="O email não está válido."
						tabindex="1"
		      			>
					<!-- onkeyup="StringUtils.toUpperUpToCaret(this);" -->
					
					  <f:validateRegex
							pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
 
					</p:inputText>
		    </div>
		    
			<div class="col-xs-4">
	      		<p:commandLink id="btnDesconectar"
	      						value="#{labels.desconectar} #{bean.usuarioConectado}"
	      						class="col-sm-8 control-label"
	      						onclick="PF('confirmDesconectar').show()"
      							 immediate="true" 
	      						rendered="#{bean.usuarioConectado != null}">
<!-- 	      			<p:confirm header="#{labels.confirmacao}" message="#{labels.confirmaDesconectar}" icon="ui-icon-alert" /> -->
				</p:commandLink>	      						
      		</div>  
      		
	 	</div>
	 	
	    <p:panel id="pnlSenha" class="row form-group col-xs-offset-4"  rendered="#{bean.usuarioConectado == null}">	  
		     
			<h:outputLabel class="col-xs-4 control-label"
				   rendered="#{bean.usuarioConectado == null}"
				   value="#{labels.senha} *"
				   />
			 			   
		     <div class="col-xs-4">
		      <p:password 	id="inputPwd" 
		      				name="senha" 
		      				value="#{bean.senha}"
		      				placeholder="#{labels.senha}"  
		      				label="#{labels.senha}"  
		      				required="true" 
					 		autofocus="false" class="form-control"
					 		rendered="#{bean.usuarioConectado == null}"
					 		tabindex="2"
					 		/>
			</div>
		</p:panel>
			
		<p:separator id="separator"/>
		
		
		<p:confirmDialog widgetVar="confirmDesconectar" showEffect="fade" hideEffect="explode" 
     						 closeOnEscape="true" 
     						 message="#{labels.confirmaDesconectar}"  header="#{labels.confirmacao}" severity="alert">  
	 	 	<div style="text-align: center; overflow-x: hidden !important;">
		        <p:commandButton id="btnSim" value="#{labels.sim}" 
		        				styleClass="btn btn-primary"
		        				actionListener="#{bean.desconectar}"
		        				icon="ui-icon-alert" 
		        				immediate="true"
		        				update="@form"
		        				onsucess="PF('confirmDesconectar').hide()"
		        				/>
		        				<!-- o immediate é necessario para pular a validacao do form -->
		        				  	
		        <p:commandButton id="btnNao" value="#{labels.nao}" 
		        				 type="button" styleClass="btn btn-primary" 
		        				 icon="ui-icon-close"
		        				 onclick="PF('confirmDesconectar').hide();"
		        				 />
	        </div>
	        
				
		</p:confirmDialog>  
		
	</p:panel>
	
	<script type="text/javascript">
		//<![CDATA[
			//ui-panel ui-widget ui-widget-content ui-corner-all
			applyStyle('formulario:#{id}', 'ui-panel');
			applyStyle('formulario:btnSim','ui-button ui-widget ui-corner-all ui-button-text-icon-left btn-primary');
			applyStyle('formulario:btnNao','ui-button ui-widget ui-corner-all ui-button-text-icon-left btn-primary');
			applyStyle('formulario:separator','ui-separator ui-corner-all');
			applyStyle('formulario:pnlSenha','ui-panel ui-corner-all form-group form-control-panel');
			applyStyle('formulario:pnlSenha_content', '');
			
		//]]>
	</script>	  
	
</ui:composition>
	
</html>