<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core" 
	  xmlns:p="http://primefaces.org/ui">

<ui:composition template="templates/default.xhtml">

<!-- 	<ui:define name="titulo"> -->
<!-- 		<h:outputText value="#{labels.titulo}" /> -->
<!-- 	</ui:define> -->
	
	<ui:param name="formCLass" value="form-horizontal"/>
	
	<ui:define name="conteudo" >
		<p:panel rendered="#{param.nip != null}">
		    <div class="alert alert-success">
				<h2>Confirmação de pagamento</h2>
		        <p>
		        	Obrigado pelo o pagamento do pedido de número: ${param.nip}
		        </p>
		        <p>
		        	Sua transação foi concluída e um recibo da compra foi enviado por e-mail para você 
		        </p>
		        
		        <p:panel rendered="#{param.tipo == null or param.tipo eq '03' }">
			        <p>
			        	Você pode acessar sua conta em <a href="http://www.paypal.com/br" rel="nofollow" class="alert-link">www.paypal.com/br</a> para saber detalhes desta transação.
			        </p>
		        </p:panel>

		        <p:panel rendered="#{param.tipo eq '02'}">
			        <p>
			        	Confirmação de pagamento pelo boleto realizada com sucesso.
			        </p>
		        </p:panel>
			</div>
		</p:panel>

		<p:panel rendered="#{param.error != null}">
		    <div class="alert alert-danger">
				<h2>Ops !</h2>
		        <p>
		        	Ocorreu um erro na aprovação do pagamento.
		        	Favor entre em contato com o  <a href="http://www.paypal.com/br" rel="nofollow" class="alert-link">www.paypal.com/br</a> para saber a causa. 
		        </p>
			</div>
		</p:panel>
		
		
		<!-- Google Code for ConfirmacaoPgto Conversion Page -->
		<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 979777823;
		var google_conversion_language = "pt";
		var google_conversion_format = "2";
		var google_conversion_color = "ff0000";
		var google_conversion_label = "wrURCKfarlYQn_KY0wM";
		var google_remarketing_only = false;
		/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/979777823/?label=wrURCKfarlYQn_KY0wM&amp;guid=ON&amp;script=0"/>
		</div>
		</noscript>
		<!-- Fim do Conversion Page -->
		
	</ui:define>
	
</ui:composition>

	
</html>