<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core" 
	  xmlns:p="http://primefaces.org/ui">

<ui:composition template="templates/default.xhtml">

	<ui:param name="formCLass" value="form-horizontal"/>
	<ui:param name="activeMenu" value="duvidaMnu"/>
	
	<ui:define name="conteudo" >
		
		<p:accordionPanel>
			<p:tab title="Prazo de entrega">
				<h:panelGrid columns="2" cellpadding="10">
					<p:graphicImage url="assets/valid.png" />
					<h:outputText value="..." />
				</h:panelGrid>
			</p:tab>
			
			<p:tab title="Em que consiste o serviço ?">
				<h:panelGrid columns="2" cellpadding="10">
					<p:graphicImage  url="assets/valid.png" />
					<h:outputText value="..." />
				</h:panelGrid>
			</p:tab>
			
			<p:tab title="Formas de pagamento">
				<h:panelGrid columns="2" cellpadding="10">
					<p:graphicImage url="assets/valid.png" />
					<h:outputText value="..." />
				</h:panelGrid>
			</p:tab>

			<p:tab title="Tipos de pesquisa">
				<h:panelGrid columns="2" cellpadding="10">
					<p:graphicImage url="assets/valid.png" />
					Somente possui um tipo de consulta completa. Não possui segmentação de produto.
				</h:panelGrid>
			</p:tab>

			<p:tab title="Como recebo a consulta?">
				<h:panelGrid columns="2" cellpadding="10">
					<p:graphicImage url="assets/valid.png" />
					A consulta é enviada para o email do usuário, conforme o este <b><a style="color:red" href="modelo.html">modelo de exemplo</a></b>. 
				</h:panelGrid>
			</p:tab>
		</p:accordionPanel>
		
	</ui:define>
	
</ui:composition>

	
</html>