<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core" 
	  xmlns:p="http://primefaces.org/ui">

<ui:composition template="templates/default.xhtml">

	<ui:define name="titulo">
		<h:outputText value="#{labels.titulo}" />
	</ui:define>
	
	<ui:param name="formCLass" value="form-horizontal"/>
<!-- 	<ui:param name="activeMenu" value="${activeMenu}"/> -->
		
	<ui:define name="beanParam">
		<ui:param name="bean" value="#{usuarioMB}"/>
	</ui:define>
	
	
	<ui:define name="conteudo" >
				
			<div class="form-group">
				<h:outputLabel class="col-sm-4 control-label" for="inputUsuario" value="#{labels.email} *" />
			    <div class="col-sm-4">
			    <!--  
					<p:inputText id="emailId" value="#{bean.email}"  class="form-control"
								required="true" 
					 			autofocus="true"
								placeholder="#{labels.email}" 
								label="#{labels.email}"
								name="email">
						<f:validator validatorId="custom.emailValidator"/>
					</p:inputText>
				--> 
				<p:inputText id="inputUsuario"
		      			value="#{bean.email}" 
		      			placeholder="#{labels.email}" 
		      			label="#{labels.usuario}" 
		      			name="codigo"
		      			required="true" autofocus="true" 
		      			maxlength="#{bean.tamanhoMaximoEmail}"  class="form-control" 
		      			tabindex="1"
		      			/>
					<!-- onkeyup="StringUtils.toUpperUpToCaret(this);" -->
				</div>
			</div>  
	
			<div class="form-group">
				<h:outputLabel class="col-sm-4 control-label" for="confirmacaoid" value="#{labels.confirmacao} *" />
			    <div class="col-sm-4">
					<p:captcha  id="confirmacaoid" language="pt"  theme="white"
								requiredMessage="#{labels.captchaRequired}"
								validatorMessage="#{labels.captchaRequired}" 
								label="#{labels.confirmacao}"
								tabindex="2" 
								/>  
				</div>
			</div>  
			
		  <div style="height:15px">
		  </div>
		  
		  <div class="form-group">
		   	<label class="col-sm-4 control-label"/>
		    <div class="col-sm-4">
				 <p:commandButton id="lembrarSenhaId"
	      					value="#{labels.lembrarSenha}" 
           						action="#{bean.lembrarSenha}"
           						class="btn btn-primary btn-block col-sm-4"
           						update="confirmacaoid"
           						tabindex="3" 
           						/>  
           						
				<script type="text/javascript">
					//<![CDATA[
					           
					   $(document).ready(function() {
						   applyStyle('formulario:lembrarSenhaId', 'btn btn-primary btn-block col-sm-4');
						   
					   	});
					           
						/**  
						 * Bean validator for @Email  
						  
						PrimeFaces.validator['Email'] = {  
						      
						    pattern: /\S+@\S+/,  
						              
						    MESSAGE_ID: 'br.com.growupge.apresentacao.bean.validator.email.message',  
						      
						    validate: function(element, value) {  
						        var vc = PrimeFaces.util.ValidationContext;  
						  
						        if(!this.pattern.test(value)) {  
						            var msgStr = element.data('p-email-msg'),  
						            msg = msgStr ? {summary:msgStr, detail: msgStr} : vc.getMessage(this.MESSAGE_ID);  
						      
						            throw msg;  
						        }  
						    }  
						}; 
						
						*/
					
					//]]>
				</script>	            						
		    </div>
		  </div>
		
	
	</ui:define>
			
</ui:composition>

	
</html>