<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core" 
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:veiculos="http://growupge.com.br/veiculos/facelets">

	  
	<style>
		 .form-signin {
		  	max-width: 430px;
		  }
	</style>

<ui:composition template="templates/default.xhtml">

	<ui:define name="titulo">
		<h:outputText value="#{labels.titulo}" />
	</ui:define>
	
	<ui:param name="formCLass" value="form-horizontal"/>
	<ui:param name="activeMenu" value="meusPedidosMnu"/>
		
	<ui:define name="beanParam">
		<ui:param name="bean" value="#{meusPedidosMBean}"/>
	</ui:define>
	
	
	<ui:define name="conteudo" >
			
<!-- 			<f:event listener="#{bean.onPageLoad}"  type="preRenderComponent"  /> -->

			<veiculos:autenticador id="autenticador" />
			
			<p:dataTable id="dtPedidos" var="item"
				selection="#{bean.pedidoSelecionado}" 
				value="#{bean.meusPedidos}"
				rowKey="#{item.codigo}"
				selectionMode="single"
				emptyMessage="#{bean.mensagemGrid}">
				
			   <p:column headerText="#{labels.pedido}" style="width:8%">  
			       <h:outputText value="#{item.codigo}" />  
			   </p:column>  
			
			   <p:column headerText="#{labels.placa}" style="width:8%">  
			       <h:outputText value="#{item.placa}" />  
			   </p:column>  
			
			   <p:column headerText="#{labels.dataPedido}" style="width:15%">  
			       <h:outputText value="#{item.dataCadastro}" >
			       	  <f:convertDateTime pattern="dd-MM-yyyy hh:mm:ss" />
			       </h:outputText>
			   </p:column>  

			   <p:column headerText="#{labels.dataPgto}" style="width:15%">  
			       <h:outputText value="#{item.dataPagamento}" >
			       	  <f:convertDateTime pattern="dd-MM-yyyy hh:mm:ss" />
			       </h:outputText>
			   </p:column>  
			
			   <p:column headerText="#{labels.valor}" style="width:8%">  
			       <h:outputText value="#{item.valor}" >
			       		<f:convertNumber  locale="pt_BR"   type="currency" currencySymbol="R$" />
			       </h:outputText>  
			   </p:column>  
			
			   <p:column style="width:20%" headerText="#{labels.situacao}">  
			        <h:commandLink id="selectButton"  
			            	title="Clique aqui para efetuar o pagamento da pesquisa."
			            	action="pagamento"
			            	rendered="#{item.status.tipo == 'PD'}" >
						<h:graphicImage value="assets/pagar.png" style="margin-top:5px;margin-bottom:5px;" />
			            <f:setPropertyActionListener value="#{item}" for="selectButton" target="#{pagamentoMBean.pedidoSelecionado}" />  
			            <f:param name="valor" value="#{item.valor}"  />
			            <f:param name="pedido" value="#{item.codigo}"  />
			        </h:commandLink>  
					
<!-- 			        <h:commandLink id="tranfBcoButton"  
			            	title="Transferência Bancária"
			            	action="tarifas.jsp"
			            	immediate="true"
			            	rendered="#{item.pedido.status.tipo == 'PD'}"  >
						<h:graphicImage value="assets/transf_bco.jpg" />
			        </h:commandLink>
			          -->
			         <h:outputLabel id="statusId" value="#{item.status.descricao}" rendered="#{item.status.tipo != 'PD'}" /> 
			    </p:column>  
			
			</p:dataTable>  
		    
		    <!-- Componente de conexao -->
		  	<div style="height:15px">
		  	</div>
			
			<div class="form-group">
				   		
	    		<div id="pnlBotoes"  class="col-xs-4 col-md-offset-4"> <!-- col-xs-7 col-md-offset-2 -->
					<p:commandButton id="listarId"
			      						value="#{labels.listar}" 
	            						actionListener="#{bean.listar}"
	            						update="@form"
	            						class="btn-primary ui-corner-all col-xs-4 col-xs-offset-2"
	            						tabindex="3"
	            						/>  
				      <p:commandButton id="esqueciSenhaId"
				      					value="#{labels.esqueciSenha}" 
	             						action="lembrarSenha.jsf"
	             						immediate="true"
	             						ajax="false"
	             						class="btn-primary ui-corner-all col-xs-4 col-xs-offset-2"  	    		
	             						rendered="#{bean.usuarioConectado == null}"
	             						tabindex="4"/>
	             						<!-- ajax false necessario para o reCaptcha -->
	             	 
	             	 <p:defaultCommand id="defaultBtnId" target="listarId" />
	             	   
	    		</div>
	    		
	    		<script type="text/javascript">
				 	//<![CDATA[
				 	
				 	$(document).ready(function() {
					 	// objetivo é retirar o css que o jsf injeta automaticamente
					 	//ui-button  ui-corner-all ui-button-text-only btn-primary col-xs-7 col-xs-offset-2
					 	var btnSenha = document.getElementById('formulario:esqueciSenhaId');
					 	
						if (btnSenha != null) {
							applyStyle('formulario:esqueciSenhaId', 'btn-primary ui-corner-all col-xs-3 col-xs-offset-1');
							applyStyle('formulario:listarId', 'btn-primary ui-corner-all col-xs-3 col-xs-offset-1');
							applyStyle('pnlBotoes', 'col-xs-7 col-md-offset-3');

						} else {
							applyStyle('formulario:listarId', 'btn-primary ui-corner-all col-xs-4 col-xs-offset-2');
							applyStyle('pnlBotoes', 'col-xs-4 col-md-offset-4');
						}
				 	});
				 	
				 	
 					//]]>
				</script>	
	    	</div>
	    	
	    	<!-- Banner growup 
	    	<div>
	    		<script type="text/javascript">
					var bannersnack_embed = {"hash":"bui2tyy2","width":468,"height":60,"t":1400635804,"userId":13622796,"wmode":"transparent"};
				</script>
				<script type="text/javascript" src="http://files.bannersnack.com/iframe/embed.js"></script>
	    	</div>
	    	 -->
	    	
	    	
			<!-- Google Code for PedidoConcluido Conversion Page 
			<script type="text/javascript">
			/* <![CDATA[ */
				var google_conversion_id = 979777823;
				var google_conversion_language = "en";
				var google_conversion_format = "2";
				var google_conversion_color = "ffffff";
				var google_conversion_label = "5zPFCOmftgkQn_KY0wM";
				
				var google_remarketing_only = false;
			/* ]]> */
			</script>
			
			<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
			</script>
			<noscript>
				<div style="display:inline;">
					<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/979777823/?label=5zPFCOmftgkQn_KY0wM&amp;guid=ON&amp;script=0"/>
				</div>
			</noscript>
			-->
			
			<!-- Google Analytics -->
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			  ga('create', 'UA-50218825-1', 'auto');
			  ga('send', 'pageview');
			
			</script>			
			  
	</ui:define>
	
			
</ui:composition>

	
</html>