<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core" 
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:veiculos="http://growupge.com.br/veiculos/facelets/include">

<ui:composition template="templates/default.xhtml">

	<ui:define name="titulo">
		<h:outputText value="#{labels.titulo}" />
	</ui:define>
	
	<ui:param name="activeMenu" value="duvidaMnu"/>
		
		
	<ui:define name="beanParam">
		<ui:param name="bean" value="#{pagamentoMBean}"/>
	</ui:define>
							
	<ui:define name="conteudo" >
	  
	  	<h2>Exemplo de relatório</h2>
		<object type="application/pdf" data="assets/modelo.pdf?pfdrid_c=true" height="500px" width="100%">
	          Caso seu navegador não estiver exibindo o pdf, <a href="assets/modelo.pdf">click</a> para baixar o modelo de exemplo.
	    </object>
	    
    </ui:define>

</ui:composition>

</html>