<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core" 
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:veiculos="http://growupge.com.br/veiculos/facelets/include">

<ui:composition template="templates/default.xhtml">

	<ui:define name="titulo">
		<h:outputText value="#{labels.titulo}" />
	</ui:define>
	
	<ui:param name="formCLass" value="form-horizontal"/>
	<ui:param name="activeMenu" value="trocarSenhaMnu"/>
		
		
	<ui:define name="beanParam">
		<ui:param name="bean" value="#{pagamentoMBean}"/>
	</ui:define>
							
	<ui:define name="conteudo" >
			
			<p:tabView orientation="left" style="border:0" id="tabView">
		        <p:tab title="Boleto" id="tabBoleto">
	                
					<p:graphicImage value="assets/barcode.png" />  Boleto bancário
					<div style="color:red;font-weight:bold;font-size: small;margin-left:40px"> 
						Essas informações não são gravadas, somente destinada a geração do boleto
					</div> <br />
					
		            <h:panelGrid columns="2" cellpadding="10" >
		                
<!-- 						<form action="gerarBoleto" method="POST" name="form1" id="form1" > -->
						
							
<!-- 							<div style="margin:auto;" > -->
								<table style="width:100%;align=center;border=1">
									<tr>
<!-- 									<td width="50%" align="right"><B>Pedido (99999999):</B></td> -->
										<td><input type="hidden" maxlength="8" size="50" name="pedido" value="#{param.pedido}"/></td>
									</tr>
										
									<tr>
										<td width="50%" align="right"><label for="nomeSacado"><B>Nome do Sacado:</B></label></td>
										<td><input  id="nomeSacado" name="nomeSacado" value="" type="text" maxlength="30" size="50"  onblur="isFormPreenchido()"  onkeyup="isFormPreenchido()"/></td>
									</tr>

									<tr >
										<td width="50%" align="right">
									        
											<input type="radio" id="cpf" name="codigoInscricao" value="01" onclick="ativar('inscricao','11');" size="11"/>
											<label for="inscricao">CPF</label>  
											&#160; &#160;
											<input type="radio"  id="cnpj" name="codigoInscricao" value="02" onclick="ativar('inscricao','14');" size="14"/>
											<label for="inscricao">CNPJ</label>  
										</td>
										<td>
											<input id="inscricao"  type="text" required="required" name="numeroInscricao" value="" maxlength="14" readonly="readonly" onfocus="isFormPreenchido()" onkeyup="isFormPreenchido()" onkeypress="return StringUtils.permitirChars(event,'[0-9]');" />
										</td>
									</tr>
									<tr>
										<td width="50%" align="right"><label for="enderecoSacado"> <B>Endereço do Sacado:</B> </label></td>
										<td><input id="enderecoSacado" name="enderecoSacado" type="text" maxlength="40" size="50"  value=""  onblur="isFormPreenchido()" onkeyup="isFormPreenchido()"/></td>
									</tr>
									<tr>
										<td width="50%" align="right"><label for="bairroSacado"> <B>Bairro:</B> </label></td>
										<td><input id="bairroSacado" name="bairroSacado" value="" type="text" maxlength="15" size="50"  onblur="isFormPreenchido()" onkeyup="isFormPreenchido()"/></td>
									</tr>
					
									<tr>
										<td width="50%" align="right"> <label for="cep"><B>CEP:</B></label> </td>
										<td> <input  id="cep" name="cepSacado" value="" type="text" required="required"  maxlength="8" onkeypress="return StringUtils.permitirChars(event,'[0-9]');" size="8"  onblur="isFormPreenchido()" onkeyup="isFormPreenchido()"/> </td>
									</tr>
									<tr>
										<td width="50%" align="right"><label for="cidadeSacado"> <B>Cidade:</B> </label></td>
										<td><input  id="cidadeSacado" name="cidadeSacado" type="text" value="" maxlength="15" size="50" onblur="isFormPreenchido()" onkeyup="isFormPreenchido()"/></td>
									</tr>
									<tr>
										<td width="50%" align="right"><label for="estadoSacado"> <B>Estado:</B> </label></td>
										<td >
											<select id="estadoSacado" name="estadoSacado"  style="height:38px" onblur="isFormPreenchido()" onkeyup="isFormPreenchido()">
											    <option value="AC">Acre</option>
											    <option value="AL">Alagoas</option>
											    <option value="AM">Amazonas</option>
											    <option value="AP">Amapá</option>
											    <option value="BA">Bahia</option>
											    <option value="CE">Ceará</option>
											    <option value="DF">Distrito Federal</option>
											    <option value="ES">Espirito Santo</option>
											    <option value="GO">Goiás</option>
											    <option value="MA">Maranhão</option>
											    <option value="MG">Minas Gerais</option>
											    <option value="MS">Mato Grosso do Sul</option>
											    <option value="MT">Mato Grosso</option>
											    <option value="PA">Pará</option>
											    <option value="PB">Paraíba</option>
											    <option value="PE">Pernambuco</option>
											    <option value="PI">Piauí</option>
											    <option value="PR">Paraná</option>
											    <option value="RJ">Rio de Janeiro</option>
											    <option value="RN">Rio Grande do Norte</option>
											    <option value="RO">Rondônia</option>
											    <option value="RR">Roraima</option>
											    <option value="RS">Rio Grande do Sul</option>
											    <option value="SC">Santa Catarina</option>
											    <option value="SE">Sergipe</option>
											    <option value="SP">São Paulo</option>
											    <option value="TO">Tocantins</option>
											</select>
										</td>
									</tr>
									
									<tr>
										<td width="50%" align="right"><B>Valor da pesquisa:</B></td>
										<!-- <td>
											<input type="text" maxlength="10" size="50" name="valor" value="R$ #{param.valor}" disabled="disabled"/>
										</td> -->
										<p:outputLabel id="val3" value="${bean.valorUnitario}" styleClass="label label-danger" >	
							            	<f:convertNumber pattern="#,##0.00" locale="pt_BR" type="currency"  />
							        	</p:outputLabel>
									</tr>
									
									<tr>
										<td></td>
										<td>
											<br/>
											<!-- <p:commandButton id="btnBoleto" value="Gerar Boleto" 
															class="btn-primary ui-corner-all col-xs-4 col-xs-offset-2"  	
											 				action="gerarBoleto" disabled="true">
												<f:param name="valor" value="#{param.valor}"/>
												<f:param name="pedido" value="#{param.pedido}"/>
											</p:commandButton> -->
<!-- 											formaction="gerarBoleto" -->
<!-- 											onclick="this.formulario.action='gerarBoleto'" -->
											<input type="submit"  id="btnBoleto"  class="btn btn-primary ui-corner-all"  
																	value="Gerar Boleto" 
																	disabled="disabled"
																	formaction="gerarBoleto"
																	formtarget="_blank"
																	formmethod="post"
																	 />
										</td>
									</tr> 

								</table>
<!-- 							</div> -->
							<BR />
							<BR /> 

							
<!-- 						</form>	 -->
						
		            </h:panelGrid>
		        </p:tab>
		        
		        <p:tab title="Transferência bancária">
		        	<p style="color:red;font-weight:bold;"> 
	                	<p:graphicImage value="assets/transf_bco.jpg" /> Transferência bancária identificada pelo Número Interno do Pedido ( NIP ).
	                </p>
	                
	                 <h:panelGrid columns="2" cellpadding="5" title="Dados bancários">
				            <h:outputLabel for="bco" value="Banco:" />
				            <h:outputLink id="bco" value="https://www.itau.com.br" target="_blank">
								<h:outputText value="Itaú" style="text-decoration:underline;font-weight:bold;color: blue;" />
							</h:outputLink>

				            <h:outputLabel for="ag" value="Agência:" />
				            <p:outputLabel id="ag" value="5658" />

				            <h:outputLabel for="cc" value="C/C:" />
				            <p:outputLabel id="cc" value="21543-8" />

				            <h:outputLabel for="pf" value="Pessoa Jurídica:" />
				            <p:outputLabel id="pf" value="GROWUP 2008 CONS E LEG DE VEÍCULOS LTDA" />

				            <h:outputLabel for="val" value="Valor da pesquisa:" />
				            <p:outputLabel id="val" value="${bean.valorUnitario}" styleClass="label label-danger" >	
				            	<f:convertNumber pattern="#,##0.00" locale="pt_BR" type="currency"  />
				            </p:outputLabel>
            		</h:panelGrid>
            		
		        </p:tab>
		        
		        <p:tab title="PayPal">
	                <p style="color:red;font-weight:bold;"> 
                		<p:graphicImage value="assets/creditcard_paypal.png" /> Pagamento seguro com paypal.
                	</p>
                	
		            <h:panelGrid  cellpadding="10" >

						<p:row >
							<p:column colspan="3" rowspan="2"> 
						   		O PayPal é a maneira segura e conveniente de você ou sua empresa enviar e receber pagamentos online. Ao fazer uma compra, suas informações financeiras ficam protegidas e não são compartilhadas com o vendedor.
						   	</p:column>
		               			
						</p:row>

						<p:row >
							<p:column colspan="3" rowspan="2"> 
		               			O PayPal está presente em 193 países, opera com 25 moedas e possui mais de 132 milhões de clientes.
							</p:column>
						</p:row>

						<p:row >
							<p:column colspan="2" rowspan="2"> 
		               			Facilite suas compras online utilizando o PayPal. 
							</p:column>
							
							<p:column > 
								<h:outputLink value="https://www.paypal.com/br/cgi-bin/webscr?cmd=_registration-run" target="_blank">
									<h:outputText value="Cadastre-se agora mesmo!" style="text-decoration:underline;font-weight:bold;color: blue;" />
								</h:outputLink>
							</p:column>
						</p:row>
						
						<p:row >
							<p:column >
								<h:outputLabel for="val2" value="Valor da pesquisa:" />
					        </p:column>

							<p:column >
						        <p:outputLabel id="val2" value="${bean.valorUnitario}" style="margin-left:10px" styleClass="label label-danger" >	
						            <f:convertNumber pattern="#,##0.00" locale="pt_BR" type="currency"  />
						        </p:outputLabel>
							</p:column>

				        </p:row>
					
						<p:row>
							<p:column >
								 <h:commandLink id="selectButton" title="Pagar com paypal" action="#{bean.pagar}" target="_blank">
									<h:graphicImage value="assets/paypal.gif" />
						        </h:commandLink>  
					        </p:column>
					    </p:row>
					    
						<!-- PayPal Logo
						<table border="0" cellpadding="10" cellspacing="0" align="text-left">
							<tr>
								<td align="center">
									<a href="#" onclick="javascript:window.open('https://www.paypal.com/br/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"><img  src="https://www.paypalobjects.com/en_US/BR/i/bnr/bnr_horizontal_solution_PP_166wx80h.gif" border="0" alt="Imagens de solução"></a>
								</td>
							</tr>
						</table>-->
		                
		            </h:panelGrid>
		        </p:tab>
		    </p:tabView>			

					  
    	<f:metadata>
		    <f:viewParam name="lines" value="2" />
		    <f:viewParam name="words" value="5" />
		</f:metadata>
		
	    <footer>
	    	<veiculos:include  page="rodape.jsp" >
				<f:attribute name="lines" value="2"/>
	    		<f:attribute name="words" value="5"/>
	    		
	    		<!-- Nao tem como passar por parametro usando componente customizado 
	    			porque o request ja foi criado. E a mapa é um unmodifiedMap 
	    		<f:param name="lines" value="2"/>
	    		<f:param name="words" value="5"/> 
	    		-->
	    	</veiculos:include>
	    </footer>

		<SCRIPT type="text/javascript">
			
			//<![CDATA[
			$(document).ready(function() {
				
				/*
				$("#btnBoleto").click(function(){ 
					return $("#formulario").valid();
				});
				*/
				
				$("#formulario").validate({
					rules : {
						cepSacado : {
							required : true,
						    number: true,
							minlength : 8
						},

						numeroInscricao : {
							inscricaoValidator :true,
							number: true,
							rangelength : [ 11, 14 ]
						},
						
						nomeSacado : {
							required:true,
						},
						enderecoSacado : {
							required:true,
						},
						bairroSacado : {
							required:true,
						},
						cidadeSacado : {
							required:true,
						},
						estadoSacado : {
							required:true,
						}
					},

					// Specify the validation error messages
					messages : {
						'cep' : "O cep está inválido."
					},
					
					/* submitHandler: function(form) {
			            form.submit();
			        } */
				});

				/* function validarForm() {
					$("#formulario").validate();
					return $("#formulario").valid();
				} */

				jQuery.validator.addMethod('inscricaoValidator', function(value, element,
						params) {
					var ctrl = $('input[name=codigoInscricao]:checked');
					var cod = ctrl.val();
					var size = ctrl.attr( "size" );
					//var tamanho = cod == '01' ? params[0] : params[1];
					return this.optional(element) || value.length == size;
				}, "O número de inscrição está inválido.");

			}); //END $(document).ready()

			//this.formulario.target='_blank';
			//this.formulario.action='gerarBoleto';

			function ativar(ctrlName, length) {
				var ctrl = document.getElementById(ctrlName);
				ctrl.maxLength = length;
				ctrl.readOnly = false;
				if (ctrl.hasOwnProperty('value')) {
					ctrl.value = '';
					ctrl.focus();
				}
			}

			function isFormPreenchido() {
				/*
				var ctrls = document.formulario.getElementsByTagName('input');
				var isValid = true;
				for ( var i = 0; i < ctrls.length; i++) {
					var ctrl = ctrls[i];
					if (ctrl.value == null || ctrl.value.trim().length == 0) {
						isValid = false;
					}

				}
				*/

				// document.getElementById('formulario:tabView:btnBoleto').disabled  = !isValid;
				document.getElementById('btnBoleto').disabled = !$("#formulario").valid();
			}

			//]]>
		</SCRIPT>
		
		
		<!-- Google Code for TentativaPgto Conversion Page -->
		<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 979777823;
		var google_conversion_language = "en";
		var google_conversion_format = "2";
		var google_conversion_color = "3333ff";
		var google_conversion_label = "tLgqCPffrlYQn_KY0wM";
		var google_remarketing_only = false;
		/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/979777823/?label=tLgqCPffrlYQn_KY0wM&amp;guid=ON&amp;script=0"/>
		</div>
		</noscript>
		<!-- Fim do Conversion Page -->	

	</ui:define>

</ui:composition>

</html>
	