<!DOCTYPE html>
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Felipe Pina">
 	<meta name="keywords" CONTENT="Laudo,Pesquisa veicular,Laudo preventivo,Veículos,Consulta de placa,Consulta de procedência,Informações sobre Veículos,Informações cadastrais de Veículos,Dados de Veículos"/>
  <link rel="shortcut icon" href="assets/logo_site.png">

  <title>Grow Up Veículos</title>

</head>


<body>
  
  	<header>       	
    	
    	<!-- Como ativar este include leiame -> https://tomcat.apache.org/tomcat-7.0-doc/ssi-howto.html -->
  		<!--#include virtual="templates/_novo_menu.html" -->
  
    </header>
  
  	<img src="assets/processoCompra.svg" width="100%">    

</body>
</html>