<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core" 
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:veiculos="http://growupge.com.br/veiculos/facelets/include">

	<style type="text/css">
 		.input.error {
 			font-weight: bold;
 			background-color: red;
 			padding: 2px 8px; 
 			margin-top: 2px;
 		} 
	
	</style>
		
<ui:composition template="templates/default.xhtml">

	<ui:define name="titulo">
		<h:outputText value="#{labels.titulo}" />
	</ui:define>
	
	<ui:param name="formCLass" value="form-horizontal"/>
	<ui:param name="activeMenu" value="trocarSenhaMnu"/>
		
		
	<ui:define name="beanParam">
		<ui:param name="bean" value="#{pagamentoMBean}"/>
	</ui:define>
	
							
	<ui:define name="conteudo" >
			
		<table style="width:100%;align=center;border=1">
			<tr>
				<td><input type="hidden" maxlength="8" size="50" name="pedido" value="414"/></td>
			</tr>
				
			<tr>
				<td width="50%" align="right"><label for="nomeSacado"><B>Nome do Sacado:</B></label></td>
				<td><input  id="nomeSacado" name="nomeSacado" value="" type="text" maxlength="30" size="50"  onblur="isFormPreenchido()"  onkeyup="isFormPreenchido()"/></td>
			</tr>

			<tr >
				<td width="50%" align="right">
			        
					<input type="radio" id="cpf" name="codigoInscricao" value="01" onclick="ativar('inscricao','11');" />
					<label for="inscricao">CPF</label>  
					&#160; &#160;
					<input type="radio"  id="cnpj" name="codigoInscricao" value="02" onclick="ativar('inscricao','14');" />
					<label for="inscricao">CNPJ</label>  
				</td>
				<td>
					<input id="inscricao"  type="text" required="required" name="numeroInscricao" value="" maxlength="14" readonly="readonly" onfocus="isFormPreenchido()" onkeyup="isFormPreenchido()" onkeypress="return StringUtils.permitirChars(event,'[0-9]');" />
				</td>
			</tr>
			<tr>
				<td width="50%" align="right"><label for="enderecoSacado"> <B>Endereço do Sacado:</B> </label></td>
				<td><input id="enderecoSacado" name="enderecoSacado" type="text" maxlength="40" size="50"  value=""  onblur="isFormPreenchido()" onkeyup="isFormPreenchido()"/></td>
			</tr>
			<tr>
				<td width="50%" align="right"><label for="bairroSacado"> <B>Bairro:</B> </label></td>
				<td><input id="bairroSacado" name="bairroSacado" value="" type="text" maxlength="15" size="50"  onblur="isFormPreenchido()" onkeyup="isFormPreenchido()"/></td>
			</tr>

			<tr>
				<td width="50%" align="right"> <label for="cep"><B>CEP:</B></label> </td>
				<td> <input  id="cepSacado" name="cepSacado" value="" type="text" required="required"  maxlength="8" onkeypress="return StringUtils.permitirChars(event,'[0-9]');" size="8"  onblur="isFormPreenchido()" onkeyup="isFormPreenchido()"/> </td>
			</tr>
			<tr>
				<td width="50%" align="right"><label for="cidadeSacado"> <B>Cidade:</B> </label></td>
				<td><input  id="cidadeSacado" name="cidadeSacado" type="text" value="" maxlength="15" size="50" onblur="isFormPreenchido()" onkeyup="isFormPreenchido()"/></td>
			</tr>
			<tr>
				<td width="50%" align="right"><label for="estadoSacado"> <B>Estado:</B> </label></td>
				<td >
					<select id="estadoSacado" name="estadoSacado"  style="height:38px" onblur="isFormPreenchido()" onkeyup="isFormPreenchido()">
					    <option value="AC">Acre</option>
					    <option value="AL">Alagoas</option>
					    <option value="AM">Amazonas</option>
					    <option value="AP">Amapá</option>
					    <option value="BA">Bahia</option>
					    <option value="CE">Ceará</option>
					    <option value="DF">Distrito Federal</option>
					    <option value="ES">Espirito Santo</option>
					    <option value="GO">Goiás</option>
					    <option value="MA">Maranhão</option>
					    <option value="MG">Minas Gerais</option>
					    <option value="MS">Mato Grosso do Sul</option>
					    <option value="MT">Mato Grosso</option>
					    <option value="PA">Pará</option>
					    <option value="PB">Paraíba</option>
					    <option value="PE">Pernambuco</option>
					    <option value="PI">Piauí</option>
					    <option value="PR">Paraná</option>
					    <option value="RJ">Rio de Janeiro</option>
					    <option value="RN">Rio Grande do Norte</option>
					    <option value="RO">Rondônia</option>
					    <option value="RR">Roraima</option>
					    <option value="RS">Rio Grande do Sul</option>
					    <option value="SC">Santa Catarina</option>
					    <option value="SE">Sergipe</option>
					    <option value="SP">São Paulo</option>
					    <option value="TO">Tocantins</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td width="50%" align="right"><B>Valor da pesquisa:</B></td>
				<!-- <td>
					<input type="text" maxlength="10" size="50" name="valor" value="R$ #{param.valor}" disabled="disabled"/>
				</td> -->
				<p:outputLabel id="val3" value="25" styleClass="label label-danger" >	
	            	<f:convertNumber pattern="#,##0.00" locale="pt_BR" type="currency"  />
	        	</p:outputLabel>
			</tr>
			
			<tr>
				<td></td>
				<td>
					<br/>
					<!-- <p:commandButton id="btnBoleto" value="Gerar Boleto" 
									class="btn-primary ui-corner-all col-xs-4 col-xs-offset-2"  	
					 				action="gerarBoleto" disabled="true">
						<f:param name="valor" value="#{param.valor}"/>
						<f:param name="pedido" value="#{param.pedido}"/>
					</p:commandButton> -->
<!-- 											formaction="gerarBoleto" -->
<!-- 											onclick="this.formulario.action='gerarBoleto'" -->
					<input type="submit"  id="btnBoleto"  class="btn btn-primary ui-corner-all"  
											value="Gerar Boleto" 
											disabled="disabled"
											formaction="gerarBoleto"
											formtarget="_blank"
											formmethod="post"
											 />
				</td>
			</tr> 

		</table>

		<SCRIPT type="text/javascript">
			
			//<![CDATA[
			$(document).ready(function() {
				
				/* $("#btnBoleto").click(function(){ 
					return $("#formulario").valid();
				}); */
				
				$("#formulario").validate({
					//errorClass: "control-group error",
					errorPlacement: function(error, element) {
						  error.appendTo( element.parent("td").next("td") );
						  error.insertAfter(element);
						  $(element).append( "<span class=\"error\">" + error + "</span>") ;
					},
					
					rules : {
						'cepSacado' : {
							required : true,
							minlength : 8,
						},

						'numeroInscricao' : {
							minlength: 11,
							//rangelength : [ 11, 14 ],
						}
					},

					// Specify the validation error messages
					messages : {
						'cepSacado' : "O cep está inválido.",
						'numeroInscricao' : "Numero de inscrição inválido."
					},
					
					submitHandler: function(form) {
						alert( $("#formulario").valid() );
			            form.submit();
			        }
				});

				/* function validarForm() {
					$("#formulario").validate();
					return $("#formulario").valid();
				} */

				jQuery.validator.addMethod('inscricao', function(value, element,
						params) {
					var cod = $('input[name=codigoInscricao]:checked').val();
					var tamanho = cod == '01' ? params[0] : params[1];
					return this.optional(element) || value.length == tamanho;
				}, "O número de inscrição está inválido.");

			}); //END $(document).ready()

			//this.formulario.target='_blank';
			//this.formulario.action='gerarBoleto';

			function ativar(ctrlName, length) {
				var ctrl = document.getElementById(ctrlName);
				ctrl.maxLength = length;
				ctrl.readOnly = false;
				if (ctrl.hasOwnProperty('value')) {
					ctrl.value = '';
					ctrl.focus();
				}
			}

			function isFormPreenchido() {
				var ctrls = document.formulario.getElementsByTagName('input');
				var isValid = true;
				for ( var i = 0; i < ctrls.length; i++) {
					var ctrl = ctrls[i];
					if (ctrl.value == null || ctrl.value.trim().length == 0) {
						isValid = false;
					}

				}

				// document.getElementById('formulario:tabView:btnBoleto').disabled  = !isValid;
				document.getElementById('btnBoleto').disabled = !isValid;
			}

			//]]>
		</SCRIPT>

	</ui:define>

</ui:composition>

</html>
	