<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core" 
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:veiculos="http://growupge.com.br/veiculos/facelets/include">

<ui:composition template="templates/default.xhtml">

	<ui:define name="titulo">
		<h:outputText value="#{labels.titulo}" />
	</ui:define>
	
	<ui:param name="formCLass" value="form-horizontal"/>
	<ui:param name="activeMenu" value="trocarSenhaMnu"/>
		
	<ui:define name="beanParam">
		<ui:param name="bean" value="#{usuarioMB}"/>
	</ui:define>
	
	<ui:define name="conteudo" >
				
			<div class="form-group">
				<h:outputLabel class="col-sm-4 control-label" for="usuarioId" value="#{labels.email} *" />
			    <div class="col-sm-4">
					<p:inputText id="usuarioId" 
							value="#{bean.email}" 
			      			placeholder="#{labels.usuario}" 
			      			label="#{labels.usuario}" 
			      			name="usuario" 
			      			required="true" autofocus="true" 
			      			maxlength="#{bean.tamanhoMaximoEmail}"  class="form-control"
			      			tabindex="1" 
			      			/>
			      			<!-- onkeyup="StringUtils.toUpperUpToCaret(this);" -->
				</div>
			</div>  

			<div class="form-group">
				<h:outputLabel class="col-sm-4 control-label" for="senhaId" value="#{labels.senha} *" />
			    <div class="col-sm-4">
				     <p:password id="senhaId"  class="form-control"
		      				value="#{bean.senha}"
		      				required="true" 
		      				placeholder="#{labels.senha}"  
		      				label="#{labels.senha}"  
					 		autofocus="true"
		      				name="senha" 
		      				tabindex="2"
					 		/>
				</div>
			</div>  
			
			<div class="form-group">
				<h:outputLabel class="col-sm-4 control-label" for="novaSenhaId" value="#{labels.novaSenha} *" />
			    <div class="col-sm-4">
		            <p:password id="novaSenhaId" class="form-control" value="#{bean.novaSenha}" name="senhaId"
		            			match="confirmaId" 
		            			label="#{labels.novaSenha}" placeholder="#{labels.novaSenha}"  
		            			required="true"
		            			feedback="true"
		            			promptLabel="#{labels.digiteSenha}" 
		            			weakLabel="#{labels.senhaFraca}"  
                       			goodLabel="#{labels.senhaSegura}" 
                       			strongLabel="#{labels.senhaForte}"
                       			validatorMessage="#{labels.senhaNaoConfere}"
                       			tabindex="3"
                       			/>
				</div>
			</div>  

			<div class="form-group">
				<h:outputLabel class="col-sm-4 control-label" for="confirmaId" value="#{labels.confirmacao} *" />  
			    <div class="col-sm-4">
		            <p:password id="confirmaId" class="form-control" value="#{bean.confirmaSenha}"  name="confirmaId"
		            			label="#{labels.confirmacao}"  placeholder="#{labels.confirmacao}" 
		            			required="true"
		            			feedback="true"
		            			promptLabel="#{labels.digiteSenha}" 
		            			weakLabel="#{labels.senhaFraca}"  
                       			goodLabel="#{labels.senhaSegura}" 
                       			strongLabel="#{labels.senhaForte}"
                       			tabindex="4"
                       			/>  										
				</div>
			</div>  

		  <div style="height:15px">
		  </div>
		  
		  <div class="form-group">
		   	<label class="col-sm-4 control-label"/>
		    <div class="col-sm-4">
<!-- 			      <button type="submit" class="btn btn-primary btn-block col-sm-4">Trocar senha</button> -->
 					 <p:commandButton id="trocarSenhaId"
			      					value="#{labels.trocarSenha}" 
             						actionListener="#{bean.trocarSenha}"
             						update="confirmaId, senhaId, usuarioId, novaSenhaId"
             						class="btn btn-primary btn-block col-sm-4"
             						tabindex="5"
             						/>  
		    </div>
		  </div>		

		<f:metadata>
		    <f:viewParam name="lines" value="3" />
		    <f:viewParam name="words" value="5" />
		</f:metadata>
					  
	    <footer>
	    	<veiculos:include  page="rodape.jsp" >
				<f:attribute name="lines" value="3"/>
	    		<f:attribute name="words" value="5"/>
	    		
	    		<!-- Nao tem como passar por parametro usando componente customizado 
	    			porque o request ja foi criado. E a mapa é um unmodifiedMap 
	    		<f:param name="lines" value="2"/>
	    		<f:param name="words" value="5"/> 
	    		-->
	    	</veiculos:include>
	    </footer>		
	    
	    <script type="text/javascript">
		 	//<![CDATA[
		 	applyStyle('formulario:trocarSenhaId','ui-button ui-widget ui-corner-all ui-button-text-only btn btn-primary btn-block col-sm-4');
 					
			//]]>
		</script>	
		
	</ui:define>

			
</ui:composition>
</html>
	